* {
    margin: 0;
    font-family: 'Roboto', sans-serif;




}

body {
    font-family: 'Roboto', sans-serif;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1F2937;
    display: flex;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 5px;





}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;

    border: 20px;


}



.top {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 50px;
    gap: 100px;

}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;

}

h1 {
    font-size: 52px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;

}

.top-button {
    font-size: 20px;
    border-radius: 10px;
    background-color: #3882F6;
    width: 150px;
    padding: 10px;
    color: white;

}

.middle-header {
    background-color: white;
    padding: 100px;
    gap: 5px;




}

h3 {
    color: #1F2937;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    top: 35px;
    display: flex;
    justify-content: center;
}

.image-info {
    font-size: 18px;
    margin: 20px;






}

.txtimages {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    margin: 50px;
    position: relative;
    top: 50px;



}

.midcontent img {
    border: 3px solid #3882F6;
    border-radius: 10px;

}

.testimonial {
    background-color: #e5e7eb;
    padding: 150px;

}

.quote {
    display: flex;
    font-size: 36px;
    justify-content: center;
    color: #1f2937;
    font-style: italic;


}

.quoter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    left: 400px;
    font-style: bold;
    font-size: 30px;
}

.cta {
    padding: 80px;
    display: flex;
    justify-content: center;

}

.ctacontainer {
    background-color: #3882F6;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    
    width: 1200px;
    height: 100px;
    padding: 30px;
}

h5 {
    font-size: 20px;
    color: white;
    font-weight: 800;
    font-style: bolder;
    font-family:  "Roboto";
}

h6 {
    font-size: 20px;
    font-weight: 350;
    color: white;
}

.ctatext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 100px;
    
 
    gap: 5px;
    

}

.ctabutton {
    font-size: 20px;
    border-radius: 10px;
    background-color: #3882F6;
    width: 150px;
    padding: 10px;
    color: white;
    position: relative;
    right: 100px;
    
}


footer {
    background-color: #1F2937;
    display: flex;
    padding: 50px;
    font-family: "Roboto";
    color: white;
    justify-content: center;
}


    
