* {
    margin: 0;
    

    

}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1F2937;
    display: flex;
    font-family:Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
   
    
    
    
    
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    
    border: 20px;
    
    
}



.top {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    
}

h1 {
    font-size: 52px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    
}

.top-button {
    font-size: 20px;
    border-radius: 10px;
    background-color: #3882F6;
    width: 150px;
    padding: 10px;
    color: white;
    
}

.middle-header {
    background-color: white;
    padding: 50px;
    gap: 100px;
    
    


}

h3 {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.image-info {
    font-size: 18px;
    margin: 20px;
    
    
}

.txtimages {
   display: flex;
   justify-content: center;
   gap: 52px;
   text-align: center;
   margin: 50px;
   
    
}

.midcontent img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    
}



    


